.brand{
    text-align:center;
    background-color:blue;
    margin: top 10px;

}
.homecontainer{
    background-color:rgba(5, 140, 5, 0.701);
    background-size: cover;
    padding: 10px;
    display: flex;
    margin-bottom: 10px;
    border-radius: 10px;

}
.about-me{
    background-color:red;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}

.home-container{
    background-color:yellow;
    background-image:url('../components/pages/images/background.jpg');
    width: 100%;
    background-position: center;
    display: center;
}
.me{
    border-radius: 20px;
    width: 100%;

}
.link-tabs{
margin-top: 95px;
transform: translate(45%, -20%);
background:rgba(255, 0, 0, 0.002);
width: 35%;
}
.git{position:flex;
    width: 100%;
    text-align: center;
}
.LinkIn{
    position:flex;
    width: 100%;
    text-align: center;
}
.CCol{
    background-color: rgba(175, 17, 17, 0.005);
}